<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.byui.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewModel.AddTransactionActivity"></activity>
        <activity
            android:name=".view.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".viewModel.AddEditBudgetActivity"
            android:parentActivityName=".viewModel.BudgetActivity" />
        <activity
            android:name=".viewModel.AddVendorActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".view.Login" />
        <activity
            android:name=".viewModel.AddVehicleActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>